html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.container {
    width: 960px;
    margin: auto;
}
.headerWrap {
    padding: 8px 10px 11px 0;
}
.logo {
    width: 300px;
    float: left;
}
.headerNavbar {
    float: right;
}
.headerNavbar li {
    float: left;
    padding-left: 45px;
}
.navBar li a {
    font-size: 16px;
}
.clearFix {
    clear: both;
    float: none;
    width: 0;
    height: 0;
}
.pullLeft {
    float: left;
}
.pullRight {
    float: right;
}
.titleBar {
    background-color: #333333;
    padding: 35px 10px 30px 10px;
}
.titleBar h2 {
    margin: 0;
}
.titleText {
    float: left;
    color: #aaaaaa;
}
.titleText h2 {
    font-size: 30px;
}
.searchBox {
    float: right;
}
.searchBox input {
    width: 218px;
    height: 35px;
    border: 2px solid #ccc;
    font-size: 16px;
    text-align: center;
    background-image: url('D:/htmlAssignmentVersion1.1/images/searchIcon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
.postWrapper {
    float: left;
    width: 710px;
    border-right: 1px solid #eeeeee;
}
.postWrapperContent {
    padding: 40px 10px 30px 0;
    border-bottom: 1px solid #eeeeee;
}
.postWrapperImage {
    float: left;
    width: 210px;
    height: 210px;
}
.postWrapperDescription {
    float: right;
    width: 445px;
}
.postWrapperDescription h4 {
    color: #3352de;
    font-size: 22px;
}
.authorName {
    padding: 15px 0 20px 0;
}
.socialLogo {
    padding-top: 20px;
}
.messengerLogo {
    float: left;
}
.otherLogo li {
    padding-left: 5px;
}
.newsFeed {
    float: right;
    width: 240px;
    padding-top: 40px;
    padding-left: 5px;
}
.countryNavbar li {
    float: left;
    padding-left: 25px;
    font-size: 16px;
}
.postMap {
    margin-top: 30px;
    padding: 20px 5px 25px 5px;
    border: 1px solid #eeeeee;
}
.mapWrap {
    padding-top: 30px;
}
.mapWrap img {
    width: 205px;
    height: 135px;
}
.postNews {
    margin-top: 20px;
}
.newsHeading {
    padding: 10px 0 10px 10px;
    background-color: #eeeeee;
}
.postNews li {
    stroke: none;
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
    color: #eeeeee;
}
.archiveNews li {
    text-decoration: none;
    stroke: none;
    padding: 10px 0;
    color: #eeeeee;
}
.footer {
    background-color: #252629;
    padding: 30px 0 55px 0;
}
.leftFooter li a {
    color: #fff;
    text-decoration: none;
}
.companyDetail {
    width: 150px;
    float: left;
}
.interestArea {
    width: 150px;
    float: left;
}
.portal {
    width: 150px;
    float: left;
}
.footerNavbar li {
    padding-left: 20px;
}